{% extends "base.html.twig" %}

{% block title %}New Contact{% endblock %}

{% block h1 %}All about {{ contact.get("name") }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-block">
        <h4 class="card-title">{{ contact.get("name") }}</h4>
        <ul>
          <li><strong>Address: </strong>{{ contact.get("address") }}</li>
          <li><strong>Email: </strong>{{ contact.get("email") }}</li>
          <li><strong>Phone Number: </strong>{{ contact.get("phone") }}</li>
        </ul>
    </div>
</div>
<a href="/"><button>Home</button></a>
{% endblock %}
